html
    font-family: 'Mulish', sans-serif
    font-size: 16px

    .grid
        background: #f0f0f0
        display: grid
        grid-template-areas: "header header header header" "box1 box1 box1 box1" "cards cards cards cards" "box2 box2 box2 box2" "contact contact about about" "footer footer footer footer"
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(6, auto)

        header
            align-content: center
            background: #272932
            display: flex
            flex-wrap: wrap
            gap: 2rem
            grid-area: header
            height: 100vh
            justify-content: center
            width: 100%

            h1
                border: 1px solid #12ab09
                color: #D6EBFF
                font-family: 'Roboto Serif', sans-serif
                font-size: 2.5rem

            p
                border: 1px solid #fa012b
                color: #D6EBFF
                padding: 0 10rem
                text-align: center

            button
                background: #1CC8A0
                border-radius: 0.3rem
                padding: 1.125rem 2rem

        .box1
            background: #023e8a
            border-radius: 1rem
            grid-area: box1
            height: 20vh

        .cards
            background: #0077b6
            border-radius: 1rem
            grid-area: cards
            height: 20vh

        .box2
            background: #0096c7
            border-radius: 1rem
            grid-area: box2
            height: 20vh

        .contact
            background: #00b4d8
            border-radius: 1rem
            grid-area: contact
            height: 20vh

        .about
            background: #48cae4
            border-radius: 1rem
            grid-area: about
            height: 20vh

        .footer
            background: #90e0ef
            border-radius: 1rem
            grid-area: footer
            height: 20vh